@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
}

.containerPrimario {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;  
}

.containerSecundario {
    text-align: center;
    padding: 100px;
    height: 300px;
}

.containerTerciario {
    text-align: center;
    padding: 100px;
    height: 300px;
}

#imagemRedonda {
    border-radius: 50%;
    border: 3px solid #75F4F4;
    box-shadow: 0px 0px 3px 3px rgb(209, 208, 208);       
}

.links-blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
}

#sombras {
    box-shadow: 4px 3px 8px 1px rgb(97, 95, 95);
}

.rodape {
    padding: 20px;
    text-align: center;
}

.atribuicao {
    text-align: center;
    font-size: 7px;
}
